@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color:hsl(216, 12%, 8%);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
button{
  font-family: inherit ;
}
p{
  line-height: 1.8;
}
.main-container, .thx{
  background-color: hsl(213, 19%, 18%);
  padding: 1.5rem;
  border-radius: 0.625rem;
  max-width: 400px;
}
.main-container img{
  background-color: hsl(217, 15%, 27%) ;
  padding: 0.5rem;
  border-radius: 50%;
}
.main-container h1{
  color: white;
  margin: 2rem 0 1rem ;
}
.main-container p{
 color: hsl(217, 12%, 63%); 
 margin-bottom: 1rem;
}
.main-container ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.main-container ul li button{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: hsl(217, 15%, 27%);
  color: white;
  padding-top: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}
.main-container ul li button:hover{
  background-color:rgb(197, 142, 41) ;
}
.main-container ul li button:focus{
  background-color: hsl(217, 12%, 63%);
}
ul{
  list-style-type: none;
}
.btn-submit{
  background-color:orange;
  width: 100%;
  padding: 0.8rem 0 0.6rem;
  border: none;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
 
  
}
.btn-submit:hover{
background-color: white;
color: orange;
}
.thx img{
 display: block;
 margin: 1rem auto 2rem;
}
.thx p.gray{
  background-color: hsl(216, 12%, 30%);
  color: rgb(197, 142, 41);
  border-radius: 30px;
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem 0;
  margin-bottom: 2rem;
}
.thx h2{
  color: white;
  margin-bottom: 1rem;
}
.thx p{
  color: hsl(217, 12%, 63%);
  margin-bottom: 2rem;
}
.thx{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.2rem 0.3rem 0;
}
.hidden{
  display: none;
}
